#
# Qualcomm Ethernet device configuration
#
#

config NET_VENDOR_QCOM
	bool "Qualcomm devices"
	default y
	---help---
	  If you have a network (Ethernet) card belonging to this class, say Y.
	  Otherwise, none of the ethernet devices under this class will be
	  compiled.

if NET_VENDOR_QCOM

config QCOM_SSDK
        tristate "Qualcomm Switch SDK"
        ---help---
        QCA Switch SDK is a set of drivers to manage Qualcomm switch.
        Its functionality also includes PHY, MAC initialization during kernel bootup

config ESSEDMA
	tristate "Qualcomm ESS Edmasupport"
	---help---
	  This driver supports qca961x ethernet edma adapter.
	  Say Y to build this driver.

	  To compile this driver as a module, choose M here. The module
	  will be called essedma.ko.

endif
